!!!
%html
  %head
    %title Панель управления
    = render 'head'
  %body
    .container
      .navbar
        .navbar-inner
          %a.brand{href: root_path}= Board
          = render 'auth'
          = render 'search'
      = render 'nav'
      = render 'flashes'
      = yield
