= form_tag dashboard_item_photos_path(@item), multipart: true do
  - for i in 1..3
    .field
      .label= label_tag                           "photo_#{i}", t(:photo_label, i: i)
      .input= file_field_tag 'photo[][file]', id: "photo_#{i}"
  .field
    .input= submit_tag
