#users_table
  %table
    %thead
      %tr
        %th='Email'
        %th='Last sign in date'
        - if current_user.can_manage?(User)
          %th='User status'
        %th
    %tbody
      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.last_sign_in_at
          - if current_user.can_manage?(user)
            %td= user.state
          - if current_user.can_become?(user)
            %td= link_to 'Become user', admin_url(user_id: user.id), method: :post
          - if current_user.can_manage?(user)
            - if user.active?
              %td= link_to 'Ban user', ban_user_admin_path(user_id: user.id), method: :post, confirm: 'Are you sure?'
            -else
              %td= link_to 'Allow user', allow_user_admin_path(user_id: user.id), method: :post, confirm: 'Are you sure?'
