- for item in @items
  .item
    .description= item.description
    .state= item.state
    .photos
      - item.photos.each do |photo|
        .photo
          = image_tag photo.file, alt: nil
    .price= k(item).price  
    .tags= k(item).tags
    .contact_info= item.contact_info
    .controls
      = link_to t(:edit_item), edit_dashboard_item_path(item)
      = link_to t(:add_photo), new_dashboard_item_photo_path(item)
      = link_to t(:edit_photos), dashboard_item_photos_path(item)