- @items.each_with_index do |item, index|
  .item
    .created_at= item.created_at
    .description= link_to item.description, item_path(item)
    .state= item.state
    .photos
      - unless item.photos.nil?
        - item.photos.each do |photo|
          = render partial: 'photo', locals: {photo: photo}
    - if current_user &&  current_user.can_update?(item)
      .edit= link_to "Edit item", edit_dashboard_item_path(item)
    - if current_user && current_user.can_manage?(item)
      .edit= link_to "Admin edit item", edit_admin_item_path(item)
    .tags= k(item).tags unless item.tags.nil?
    .contact_info= item.contact_info
    .show=link_to "Show item", item_path(item)
    .index= index
