%ul.nav.pull-right
  - I18n.available_locales.each do |l|
    %li{:class => [I18n.locale == l && 'active']}
      = link_to l.upcase, url_for(locale: l)
  %li.divider-vertical
  - if user_signed_in?
    %li
      - if current_user.has_role? :admin
        -title = 'Вы администратор'
      - elsif current_user.has_role? :user
        -title = 'Вы пользователь'
      - else
        -title = 'Вы гость'
      = link_to current_user.email, edit_user_registration_path(current_user), title: title
    %li
      = link_to I18n.t(:messages), dashboard_messages_path
    %li
      = link_to t(:sign_out), destroy_user_session_path, method: :delete
  - else
    %li
      = link_to t(:sign_in), new_user_session_path
    %li
      = link_to t(:register), new_user_registration_path
