#auth_status
  = link_to 'RU', url_for(locale: :ru)
  |
  = link_to 'EN', url_for(locale: :en)
  ||
  - if user_signed_in?
    = link_to current_user.email, edit_user_registration_path(current_user)
    = link_to I18n.t(:messages), dashboard_messages_path
    |
    = link_to t(:sign_out), destroy_user_session_path, method: :delete
  - else
    = link_to t(:sign_in), new_user_session_path
    |
    = link_to t(:register), new_user_registration_path
