!!!
%html
  %head
    %title Board
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags

  %body
    #auth_status
      - if current_user
        = link_to current_user, edit_user_registration_path(current_user)
        |
        = link_to 'Выйти', destroy_user_session_path, method: :delete
      - else
        = link_to 'Войти', new_user_session_path
        |
        = link_to 'Зарегистрироваться', new_user_registration_path

    #flashing
      - for type, message in flash
        .flash(class="#{type}")= message

    = yield
